<link rel="stylesheet" href="/css/carts.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<a href="http://localhost:8080/products" class="products-link">Productos</a>
<h1 class="cart">CARRITO</h1>
<div id="cart-container" data-cart-id="{{cid}}"></div>
<script type="module" src="/js/carts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

