<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/realTimeProducts.css">
    <title>Document</title>
</head>

<body>
    <h1 class="products-title">PRODUCTOS</h1>
    <div id="products-container">
        <form>
            <h2>Agregar Producto</h2>

            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required>

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required></textarea>

            <label for="codigo">Código:</label>
            <input type="text" id="codigo" name="codigo" required>

            <label for="categoria">Categoría:</label>
            <input type="text" id="categoria" name="categoria" required>

            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio" step="0.01" required>

            <button id="add-button">Agregar</button>
        </form>
        <div id="products-list">
            {{#each products}}
            <div class="product-card">
                <h3>{{this.title}}</h3>
                <p>${{this.price}}</p>
            </div>
            {{/each}}
        </div>
        <form>
            <h2>Eliminar Producto</h2>

            <label for="id_producto">ID del Producto:</label>
            <input type="text" id="id_producto" name="id_producto" required>

            <button id="delete-button">Eliminar</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="js/realTimeProducts.js"></script>
</body>

</html>